aggregating-event-grid-logic-app/deploy-final.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
    },
    "variables": {
        "unique suffix": "[uniqueString(resourceGroup().id)]",
        "storage name": "[concat('storage', variables('unique suffix'))]",
        "storage container name": "drop-zone",
        "topic name": "[concat('biz-proc-topic-', variables('unique suffix'))]",
        "blob app name": "blob-app",
        "aggregation app name": "aggregation-app",
        "biz process app name": "biz-process-app"
    },
    "resources": [
        {
            "apiVersion": "2019-04-01",
            "type": "Microsoft.Storage/storageAccounts",
            "name": "[variables('storage name')]",
            "location": "[resourceGroup().location]",
            "kind": "StorageV2",
            "sku": {
                "name": "Standard_LRS"
            },
            "properties": {
                "supportsHttpsTrafficOnly": true
            },
            "resources": [
                {
                    "apiVersion": "2019-04-01",
                    "type": "blobServices/containers",
                    "name": "[concat('default/', variables('storage container name'))]",
                    "dependsOn": [
                        "[resourceId('Microsoft.Storage/storageAccounts', variables('storage name'))]"
                    ],
                    "properties": {
                        "publicAccess": "None"
                    }
                }
            ]
        },
        {
            "type": "Microsoft.EventGrid/topics",
            "apiVersion": "2019-06-01",
            "name": "[variables('topic name')]",
            "location": "[resourceGroup().location]",
            "properties": {
            }
        },
        {
            "apiVersion": "2017-07-01",
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('aggregation app name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                    },
                    "triggers": {
                        "Batch_messages": {
                            "inputs": {
                                "configurations": {
                                    "default": {
                                        "releaseCriteria": {
                                            "messageCount": 3,
                                            "recurrence": {
                                                "frequency": "Minute",
                                                "interval": 1
                                            }
                                        }
                                    }
                                },
                                "mode": "Inline"
                            },
                            "type": "Batch"
                        }

                    },
                    "actions": {
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                }
            }
        },
        {
            "apiVersion": "2017-07-01",
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('blob app name')]",
            "location": "[resourceGroup().location]",
            "dependsOn":[
                "[resourceId('Microsoft.Logic/workflows', variables('aggregation app name'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                    },
                    "triggers": {
                        "extractBlobPath": {
                            "inputs": "@split(triggerBody()?['subject'], '/')",
                            "runAfter": {
                            },
                            "type": "Compose"
                        },
                        "validateBlobPath": {
                            "actions": {
                                "blob-accumulator-app": {
                                    "inputs": {
                                        "batchName": "default",
                                        "content": "@triggerBody()?['subject']",
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": ""
                                            }
                                        }
                                    },
                                    "runAfter": {
                                    },
                                    "type": "SendToBatch"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(outputs('extractBlobPath'))",
                                            7
                                        ]
                                    },
                                    {
                                        "or": [
                                            {
                                                "equals": [
                                                    "@outputs('extractBlobPath')[6]",
                                                    "a.txt"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@outputs('extractBlobPath')[6]",
                                                    "b.txt"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@outputs('extractBlobPath')[6]",
                                                    "c.txt"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "extractBlobPath": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "actions": {
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                }
            }
        },
        {
            "apiVersion": "2017-07-01",
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('biz process app name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                    },
                    "triggers": {
                    },
                    "actions": {
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                }
            }
        }
    ],
    "outputs": {
    }
}